version: '3.8'

services:
  db:
    image: postgres:15-alpine  
    container_name: alarmm_postgres_container
    restart: always
    ports:
      - "5432:5432" 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: my_super_secret_password 
      POSTGRES_DB: alarmm_db 
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data: